<% if(data.chats.length) { %>
	<div class="flex center border-bottom"> chat calls </div>
	<% data.chats.forEach(v => { %>
		<% let user_id3 = (user_id == v.user_id1) ? v.user_id2 : v.user_id1; %>

		<% let src = ((v.extension == null) ? 'media/images/place_holder/chats.png' : `data/icons/users/${user_id3}.${v.extension}`); %> <!-- the extension is wrong-->
		<% let text = `${v.first_name} ${v.last_name}`; %>
		<% let in_out = (v.user_id == user_id) ? 'call_outgoing' : 'call_incoming'; %>
		<% let color = (v.call_length == 0) ? "red call_missed" : "green call_accepted"; %>
		<% let call_type = (v.call_type == 6) ? "audio" : "video"; %>

		<div class="flex wrapper border-bottom prev">
			<div class="border square images"><img src='<%= src %>' /></div>
			<%= text %>
			<div class="border square called_by <%= in_out %> <%= color %>"></div>
			<div class="border square button call <%= call_type %>" onclick="calls.make_call_chats('<%= v.chat_id %>','<%= user_id3 %>','<%= call_type %>')">
				<%= call_type %>
			</div>
		</div>
	<% }); %>
<% } %>
<% if(data.groups.length) { %>
	<div class="banner"> group calls </div>
	<% data.groups.forEach(v => { %>
		<% let user_id3 = (user_id == v.user_id1) ? v.user_id2 : v.user_id1; %>

		<% let src = ((v.extension == null) ? 'media/images/place_holder/groups.png' : `data/icons/groups/${v.group_id}.${v.extension}`); %>
		<% let text = v.title; %>
		<% let in_out = (v.user_id == user_id) ? "call_outgoing" : "call_incoming"; %>
		<% let color = (v.call_length == 0) ? "call_missed" : "call_accepted"; %>
		<% let call_type = (v.call_type == 6) ? "audio" : "video"; %>

		<div class="prev border-bottom">
			<div class="box images"><img src='<%= src %>' /></div>
			<%= v.title %>
			<div class="box called_by <%= in_out %> <%= color %>"></div>
			<div class="box button call <%= call_type %>" onclick="calls.make_call_groups('<%= v.group_id %>','<%= call_type %>')">
				<%= call_type %>
			</div>
		</div>
	<% }); %>
<% } %>
