<div class="bar explore">
	<%- include ('partials/search_elements', {names: 'channels'}) %>

	<div class="list previous">
		<% Object.entries(data).forEach(([channel_id, v]) => { %>
			<div class="prev" id="prev_channels_<%= channel_id %>" onclick="channels.handle_click_prev(this, '<%= channel_id %>')">
				<% let src = ((v.extension == null) ? 'media/images/place_holder/channels.png' : `data/icons/channels/${v.channel_id}.${v.extension}`); %>
				<div class="images"><img src='<%= src %>' /></div>
				<span><%= `cid: ${channel_id} , cn: ${v.channel_name} , title: ${v.title}` %></span>
				<div class='new_media_indicator' id="nmi_channels_<%= channel_id %>"></div>
			</div>
		<% }); %>
	</div>
</div>
<div class='bar conversation'>
	<div class='current_header'>
		<div class='details'></div>
		<div class='button delete_exit_leave' onclick='channels.leave()'> leave </div>
	</div>
</div>
