<!--<div class="content chats">-->
	<div class="bar list">
		<%- include ('partials/search_elements', {names: 'chats'}) %>

		<div class="list previous">
			<% Object.entries(data).forEach(([chat_id, v]) => { %>
				<div class="prev" id="prev_chats_<%= chat_id %>" onclick="chats.handle_click_prev(this, '<%= chat_id %>')">
					<% let src = ((v.extension == null) ? 'media/images/place_holder/chats.png' : `data/icons/users/${v.user_id}.${v.extension}`); %>
					<div class="images"><img src='<%= src %>' /></div>
					<% let text = `cid: ${chat_id} , uid: ${v.user_id} , un: ${v.user_name} , fn: ${v.first_name} , ln: ${v.last_name}`; %>
					<span><%= text %></span>
					<div class='new_media_indicator' id="nmi_chats_<%= chat_id %>"></div>
				</div>
			<% }); %>
		</div>
	</div>
	<div class='bar conversation'>
		<div class='current_header'>
			<div class='details'></div>
			<div class='button call audio' onclick='chats.handle_click_call(6)'></div>
			<div class='button call video' onclick='chats.handle_click_call(7)'></div>
			<input class='text key' type='text' placeholder='enter key of this conversation' value='0' oninput='chats.decrypt_messages()'>
			<div class='button key' onclick='chats.toggle_en_de_crypt_messages()'> encrypt or decrypt </div>
			<input class='text search_conversation' type='text' placeholder='search conversation' oninput='chats.search_conversation()'>
		</div>
		
		<%- include ('partials/send_new_media', {names: 'chats'}) %>
	</div>
<!--</div>-->
