<div class="flex wrapper send_new_media">
	<!--<label for='file'> image </label>-->
	<div class='button border square images' onclick=<%= names %>.handle_click_select_images("images")> images </div>
	<div class='button border square videos' onclick=<%= names %>.handle_click_select_videos("videos")> videos </div>
	<div class='button border square audios' onclick=<%= names %>.handle_click_select_audios("audios")> audios </div>
	<div class='button border square documents' onclick=<%= names %>.handle_click_select_documents("documents")> documents </div>
	<div class='button border square location' onclick=<%= names %>.handle_click_select_location("location")> location </div>
	<div class='button border square canvas' onclick=<%= names %>.handle_click_select_canvas("canvas")> canvas </div>

	<input class='text border message' type='text' placeholder='type a new message' value='hello there !' onfocus=<%= names %>.handle_focus_text_message() onblur=<%= names %>.handle_blur_text_message() />
	<div class='button border square message' onclick=<%= names %>.handle_click_send_message()> send </div>
</div>
