<div class="send_new_media">
	<!--<label for='file'> image </label>-->
	<div class='button images' onclick=<%= names %>.handle_click_select_images()> images </div>
	<div class='button videos' onclick=<%= names %>.handle_click_select_videos()> videos </div>
	<div class='button audios' onclick=<%= names %>.handle_click_select_audios()> audios </div>
	<div class='button documents' onclick=<%= names %>.handle_click_select_documents()> documents </div>
	<div class='button location' onclick=<%= names %>.handle_click_select_location()> location </div>

	<input class='text message' type='text' placeholder='type a new message' value='hello there !' onfocus=<%= names %>.handle_focus_text_message() onblur=<%= names %>.handle_blur_text_message()>
	<div class='button message' onclick=<%= names %>.handle_click_send_message()> send </div>
</div>
